* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: os;
    src: url(../fonts/ops.ttf);
}

@font-face {
    font-family: osl;
    src: url(../fonts/opsl.ttf);
}

@font-face {
    font-family: osb;
    src: url(../fonts/opsb.ttf);
}

:root {
    --background: whitesmoke;
    /* --cell_background: lightgrey; */
    --cell_background: transparent;
    --text_color: grey;
    --title-color: #333333;
    --dev-background: red;
    --black: black;
    --gw1: 200px;
    --gh1: 100px;
    --white: white;
    --black: black;
}

body {
    background: var(--background);
    margin-left: auto;
    margin-right: auto;
    font-family: osl;
    max-width: 1300px;
    padding: 0.2rem;
    color: var(--text_color);
}

.link {
    color: var(--text_color);
    text-decoration: underline;
    transition: 0.3s;
}

.link:visited {
    color: var(--black);
}

.link:hover {
    background-color: var(--black);
    color: var(--white);
}

.page-container {
    display: block;
}

.container {
    background-color: var(--cell_background);
    color: var(--title-color);
    padding: 1rem;
    height: 400px;
}

.containers {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.chart {
    height: 400px;
}

.container-title {
    font-family: osb;
    font-size: 30px;
    color: var(--title-color);
}

.copyright-container {
    position: absolute;
    max-width: 1300px;
    width: 100%;
    height: 40px;
}

.copyright {
    display: inline-flex;
    float: right;
}

.copyright img {
    height: 30px;
    padding-top: 3px;
}

.copyright-text {
    font-size: 25px;
    padding-left: 10px;
    color: var(--cp_color);
}

.title {
    font-family: osb;
    text-align: center;
    font-size: 45px;
    color: var(--title-color);
    padding-bottom: 10px;
    padding-top: 20px;
}

.subtitle {
    font-family: osb;
    text-align: left;
    font-size: 19px;
    font-style: italic;
    color: var(--title-color);
    padding-bottom: 20px;
}

.first-row {
    height: 300px;
}

.title-row {
    height: 10px;
}

.empty {
    height: 0px;
    padding: 0%;
    margin: 0%;
}

.in-development {
    height: 70px;
    width: 100%;
    background-color: var(--dev-background);
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: osb;
}

.repo-link {
    padding: 2px 5px;
    border: 2px solid var(--black);
    color: var(--black);
    font-size: 15px;
    line-height: 16px;
    font-weight: 800;
    text-decoration: none;
    float: right;
    margin-top: 40px;
    margin-right: -240px;
    position: relative;
    transition: 0.3s;
}

.repo-link:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s;
}

.mask {
    position: relative;
    overflow: hidden;
    display: block;
    width: var(--gw1);
    height: var(--gh1);
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
}

.semi-circle {
    position: relative;
    display: block;
    width: 200px;
    height: 100px;
    /* background: linear-gradient(to right, red 0%, yellow 50%, green 100%); */
    background-image: url(/media/g_bkgr.png), url(/site/views/media/g_bkgr.png);
    background-size: cover;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.semi-circle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    display: block;
    width: 140px;
    height: 70px;
    margin-left: -70px;
    background: var(--background);
    /* background-image: url(/site/views/media/g_bkgr.png); */
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.semi-circle--mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: 0;
    background: transparent;
    transform: rotate(120deg) translate3d(0, 0, 0);
    transform-origin: bottom bottom;
    backface-visibility: hidden;
    transition: all .3s ease-in-out;
}

.semi-circle--mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 0;
    display: block;
    width: 202px;
    height: 101px;
    margin: -1px 0 0 -1px;
    background: var(--white);
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.gauge-text {
    z-index: 3;
    position: relative;
    top: -50px;
    font-family: osb;
    font-size: 35px;
}

.metrics {
    display: grid;
    /* box-sizing: border-box; */
    grid-template-columns: auto auto auto;
    /* background-color: var(--white); */
    height: 90%;
    width: 100%;
}

.metric {
    /* background-color: red; */
    height: 135px;
    width: 225px;
    text-align: center;
    /* border-style: solid; */
}

.gap-top {
    grid-column: 1 / 4;
    height: 30px;
    /* background-color: darkolivegreen; */
}

.gap-btm {
    grid-column: 1 / 4;
    height: 50px;
    /* background-color: darkolivegreen; */
}

.status {
    height: 135px;
    width: 135px;
    /* background-color: green; */
    /* border-style: solid; */
}

.big-status {
    position: relative;
    top: 10%;
    font-family: osb;
    font-size: 70px;
    text-align: center;
    color: rgb(0, 255, 0);
}

.big-metric {
    position: relative;
    top: 0%;
    font-family: osb;
    font-size: 75px;
    text-align: center;
}

.desc-metric {
    position: relative;
    text-align: center;
    font-family: osb;
}

.back-to-top {
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.back-to-top a {
    color: var(--black);
    text-decoration: none;
    transition: 1s;
    cursor: pointer;
}

.back-to-top a:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s;
}

@media (min-width: 900px) {
    .containers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-device-width: 480px) {
    .containers {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: rgb(34, 34, 34);
        /* --cell_background: #333333; */
        --cell_background: transparent;
        --text_color: rgb(252, 252, 252);
        --title-color: #ebebeb;
        --dev-background: rgb(0, 89, 255);
        --black: white;
        --white: black
    }
}

main svg {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
